<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title></title>
		<link rel="stylesheet" href="/view/css/general.css">
		<link rel="stylesheet" href="/view/css/products/product_info.css">
	</head>
	<body>
		<section class="container">
			<div class="image-container">
				<img id="product-image">
			</div>
			<section class="product-info">
				<h1 id="product-name"></h1>
				<strong id="product-price"></strong>
				<strong id="product-quantity"></strong>
				<form method="POST">
					<input type="number" placeholder="Quantidade">
					<input type="submit" value="Comprar">
				</form>
			</section>
		</section>
	</body>
</html>

