<header class="main-header">
	<button class="menu"><i class='bx bx-menu'></i></button>
	<div class="logo-area"><i class='bx bx-cart-download' ></i></div>
	<div class="search-area">
		<input type="text" placeholder="Pesquise por produtos aqui">
		<button id="btn-search"><i class='bx bx-search'></i></button>
	</div>
	<nav class="log-options">
		<a id="btn-login" class="btn-dark" href="./login.html">Entrar</a>
		<a id="btn-register" class="btn-dark" href="./register.html">Cadastrar</a>
	</nav>
</header>
