<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title></title>
		<link rel="stylesheet" href="/view/css/general.css">
		<link rel="stylesheet" href="/view/css/profile.css">
	</head>
	<body id="page-user-settings">
		<nav class="sidebar-menu">
			<button id="btn-alter-name" class="sidebar-menu-item">Alterar nome</button>
			<button id="btn-alter-email" class="sidebar-menu-item">Alterar <i>e-mail</i></button>
			<button id="btn-alter-password" class="sidebar-menu-item">Alterar senha</button>
			<button id="btn-manage-balance" class="sidebar-menu-item">Saldo</button>
			<button id="btn-remove-account" class="sidebar-menu-item">Excluir conta</button>
		</nav>

		<section id="setting-area">
		</section>
	</body>
</html>

