<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title></title>
		<link rel="stylesheet" href="/view/css/general.css">
		<link rel="stylesheet" href="/view/css/profile.css">
	</head>
	<body>
		<nav class="settings-sidebar">
			<button id="btn-alter-name">Alterar nome</button>
			<button id="btn-alter-email">Alterar <i>e-mail</i></button>
			<button id="btn-alter-password">Alterar senha</button>
			<button id="btn-manage-balance">Saldo</button>
		</nav>

		<section id="setting-area">
		</section>
	</body>
</html>

