/* General style settings for Compraqui frontend. */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

* {
	transition: 0.2s;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 16px;
}

*:focus {
	outline: none;
}

/* Colors */
:root {
	--white-smoke: #F5F5F5;
	--white-gray: #F2F3F5;
	--platinum: #E5E4E2;
	--x11-gray: #BBBCB6;
	--avocado-green: #568203;
	--kaitoke-green: #004830;
	--verdun-green: #487800;
	--graphite-gray: #4B4E53;
	--carmine-red: #960018;
	--scarlet: #FF2400;
	--eminence-purple: #6C3082;
}

/* Cards */
.card {
	background-color: var(--platinum);
	border-radius: 5px;
	box-shadow: 0 0 4px var(--x11-gray);
}

.card-header {
	background-color: var(--avocado-green);
	color: var(--white-smoke);
	text-align: center;
	padding: 1% 0;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.card-footer {
	text-align: center;
	padding: 1% 0;
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
}

/* Inputs */
input {
	border-radius: 3px;
	padding: 1%;
}

input:not(input[type=submit]):not(input[type=button]) {
	border: 1px solid var(--graphite-gray);
	background-color: var(--white-gray);
}

input:not(input[type=submit]):not(input[type=button]):focus {
	border: 1px solid var(--scarlet);
}

input[type=submit], input[type=button] {
	border: none;
	background-color: var(--verdun-green);
	color: var(--white-smoke);
	font-weight: bold;
}

input[type=submit]:hover,
input[type=button]:hover {
	background-color: var(--kaitoke-green);
	cursor: pointer;
}

input:nth-child(even) {
	margin: 1% 0;
}

input[type=number] {
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

/* Anchors */
a {
	text-decoration: none;
	color: var(--eminence-purple);
}

a:hover {
	color: var(--carmine-red);
}
