<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Depositar</title>
		<link rel="stylesheet" href="/view/css/general.css">
		<link rel="stylesheet" href="/view/css/wallet.css">
	</head>
	<body>
		<article class="card">
			<div class="card-header">
				<h1>Depositar saldo inicial</h1>
			</div>

			<div class="card-content">
				<form method="POST">
					<input type="number" name="user_balance" placeholder="$0.00">
					<input type="submit" value="Concluir">
				</form>
			</div>
		</article>
	</body>
</html>

