<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Pronto</title>
		<link rel="stylesheet" href="/view/css/general.css">
		<link rel="stylesheet" href="/view/css/done.css">
	</head>
	<body>
		<section class="container">
			<article class="card">
				<div class="card-header">
					<h1>Pronto!</h1>
				</div>
				<div class="card-content">
					<p><strong>Cadastro realizado com sucesso!</strong></p>
					<button type="submit">Certo</button>
				</div>
			</article>
		</section>
	</body>
</html>

