<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Saldo Inicial</title>
		<link rel="stylesheet" href="/view/css/general.css">
		<link rel="stylesheet" href="/view/css/wallet.css">
	</head>
	<body>
		<article class="card">
			<div class="card-header">
				<h1 class="text-dark">Depositar dinheiro</h1>
			</div>
			<div class="card-content">
				<input type="number" ondrop="return false;" onpaste="return false;"
onkeypress="return event.charCode>=48 && event.charCode<=57" placeholder="$0.00">
				<input type="submit" value="Concluir">
			</div>
			<div class="card-footer">
			</div>
		</article>
	</body>
</html>

