<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Entrar</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body id="login-page">
		<section class="container">
			<article class="card">
				<div class="card-header"><h1 class="text-dark">Entrar</h1></div>
				<div class="card-content">
					<form action="" method="POST">
						<input type="email" placeholder="E-mail" name="user_email">
						<input type="password" placeholder="Senha" name="user_password">
						<input class="btn-dark" type="submit" value="Entrar">
					</form>
				</div>
				<div class="card-footer">
					<small><a href="#" class="link-dark">Criar conta?</a></small>
				</div>
			</article>
		</section>
	</body>
</html>

