<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Compraqui</title>
		<link rel="stylesheet" href="css/style.css">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body>
		<!-- Include the reusable header here -->
		<section class="product-info-card">
			<div class="product-image-container">
			</div>
			<div class="product-info-container">
				<strong class="product-name">test</strong>
				<strong class="product-price">test</strong>
				<strong class="product-quantity">test</strong>
			</div>
		</section>
	</body>
</html>

